/* 手機 & 平板 */
@media (min-width: 0px) and (max-width: 991.98px) {

    .BannerCont>div h6 {
        display: none;
    }

    .carouselNews {
        display: none;
    }

    .NewsControl {
        display: none;
    }

    .Btn {
        font-size: 20px;
    }

    .logo {
        width: 34px;
    }

    .Navbar {
        padding: 8px 8px 8px 8px;
    }

    .BannerCont>div h1 {
        font-size: 36px;
        letter-spacing: 10px;
    }

    .BanImg1 {
        width: 86%;
    }

    .Play>p {
        font-size: 16px;
    }

    .Play>.PlayBtn {
        width: 72px;
        height: 72px;
        padding: 15px;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -63%);
    }

    .Scroll {
        right: 45%;
        font-size: 20px;
    }

    .About {
        margin-top: 130px;
    }

    .AboBg {
        height: 780px;
        top: -5%;
        right: 0;
        left: 0;
        bottom: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .About>div h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .AboImg1 {
        height: 100px;
        margin-top: 1.5rem;
    }

    .AboImg2 {
        padding: 15px;
    }

    .About>div h6 {
        font-size: 24px;
    }

    .AboText1 {
        font-size: 18px;
        line-height: 36px;
        margin: 0;
        padding-top: 0;
        padding: 15px;
        text-align: center;
    }

    .AboPic {
        background: -webkit-linear-gradient(bottom, rgb(34, 125, 81), white);
        background: -o-linear-gradient(bottom, rgb(34, 125, 81), white);
        background: -moz-linear-gradient(bottom, rgb(34, 125, 81), white);
        background: linear-gradient(to bottom, rgb(34, 125, 81), white);
    }

    .More>p {
        font-size: 16px;
        top: 42%;
        left: 75%;
    }

    .More>.MoreBtn {
        top: 48%;
        left: 78%;
    }

    .AboPic>.AboPicCont>h1 {
        font-size: 32px;
    }

    .AboPic>.AboPicCont>p {
        font-size: 18px;
        line-height: 36px;
    }

    .ProdBgImg1-2 {
        height: 150px;
        bottom: -3%;
    }

    .Product>div h1 {
        font-size: 32px;
        margin-top: 48px;
    }

    .ProdText1 {
        font-size: 18px;
        line-height: 36px;
        margin-top: 10px;
    }

    .ProdsImg {
        height: 180px;
    }

    .ProdsTex {
        font-size: 16px;
        line-height: 30px;
    }

    .ProdADCont>div h1 {
        font-size: 32px;
        letter-spacing: 5px;
    }

    .ProdADCont>div p {
        font-size: 18px;
        line-height: 36px;
    }

    .mobileCaNews {
        display: block;
        text-align: center;
    }

    .mobileCaNews>div h2 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 8px;
        color: rgb(34, 125, 81);
    }

    .mobileCaNews>div p {
        padding: 15px;
        font-size: 18px;
        line-height: 36px;
    }

    /* Product_item */
    .CoverCont>div h1 {
        font-size: 36px;
        letter-spacing: 10px;
    }

    .PrItem {
        margin-top: 100px;
    }
}

/* 桌機 */
@media (min-width: 992px) {

    .mobileCaNews {
        display: none;
    }

    .AboImg2 {
        width: 45%;
    }
}