/* 手機 & 平板 */
@media (min-width: 0px) and (max-width: 991.98px) {

    .Btn {
        font-size: 20px;
    }


    .BannerCont {
        display: none;
    }

    .mobileBC {
        display: block;
    }

    .mobileBC {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .mobileBC>div h1 {
        font-size: 42px;
        font-weight: bold;
        letter-spacing: 10px;
        color: white;
        margin-bottom: 25px;
    }

    .mobileBC>div .BanImg1 {
        position: relative;
        top: 0;
        transition: top ease 0.8s;
    }

    .mobileBC>div .BanImg1:hover {
        top: 15px;
    }

    .mobileBC>.Play>p {
        position: absolute;
        letter-spacing: 2.5px;
        font-weight: bold;
        color: white;
        font-size: 18px;
        top: 30%;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .mobileBC>div .PlayBtn {
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -63%);
        width: 90px;
        height: 90px;
        padding: 17px;
        border-radius: 50px;
        background-color: rgb(34, 125, 81);
        color: white;
    }

    .Scroll {
        right: 45%;
        font-size: 20px;
    }


    .About {
        margin-top: 130px;
    }

    .AboBg {
        height: 1000px;
        top: -5%;
        right: 0;
        left: 0;
        bottom: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .About>div h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .AboImg1 {
        height: 100px;
        margin-top: 1.5rem;
    }

    .About>div h6 {
        font-size: 24px;
    }

    .AboText1 {
        margin: 0;
        padding-top: 0;
        padding: 15px;
        text-align: center;
    }

    .AboPic {
        background: -webkit-linear-gradient(bottom, rgb(34, 125, 81), white);
        background: -o-linear-gradient(bottom, rgb(34, 125, 81), white);
        background: -moz-linear-gradient(bottom, rgb(34, 125, 81), white);
        background: linear-gradient(to bottom, rgb(34, 125, 81), white);
    }

    .More>p {
        top: 38%;
        left: 75%;
    }

    .More>.MoreBtn {
        top: 45%;
        left: 78%;
    }

    .AboPic>.AboPicCont>h1 {
        font-size: 32px;
    }
}

/* 桌機 */
@media (min-width: 992px) {

    .mobileBC {
        display: none;
    }
}