/* h1, h2, h3, h4, h5, h6, a, p, li, button
{
    font-family: 'Noto Serif TC', serif;
} */

.bg
{
    height: 100vh;
    max-width: 100%;
    /* background-image: 
    linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url('../img/IMG_0203.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    position: relative;
}

.banner
{
    position: absolute;
    color: white;
    bottom: 0;
    left: auto;
}

.navlink
{
    color: white;
}

.navicon > i
{
    color: white;
    font-size: 1.6rem;
}

.newsCard
{
    background-image: url('../img/IMG_0203.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.newsCard:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prodlink > a
{
    color: black;
    text-decoration: none;
}

.prodlink > a:hover
{
    font-weight: bold;
    text-decoration: underline;
}

.prodCard
{
    position: relative;
}

.prodCard:hover .changeCardimg
{
    display: inline;
}

.prodCard:hover .prodCcnt
{
    display: inline;
}

.changeCardimg
{
    position: absolute;
    display: none;
}

.prodCcnt
{
    display: none;
}

.prodCcnt > .row
{
    background-color: white;
    width: auto;
}

.prodCcnt > .row > .col > i
{
    font-size: 1.4rem;
}