/* global */
.custContainer {
    text-align: center;
    margin-top: 120px;
}

.custContainer>.row {
    text-align: left;
    font-size: large;
}

.custBtn {
    font-weight: bold;
    font-size: 25px;
    color: white;
    letter-spacing: 6px;
    background-color: #227D51;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 12px 12px 12px 12px;
}

.custHeading>h1 {
    font-weight: bold;
    font-size: 45px;
    color: #227D51;
    letter-spacing: 3.5px;
    font-family: serif;
    font-style: italic;
    margin-bottom: 15px;
}

.custHeading>h2 {
    font-weight: bold;
    font-size: 35px;
    color: #227D51;
}

/* header&carousel */
.custHeader {
    max-width: 1140px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    margin: 0 auto;
    padding: 15px 15px 15px 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.custCarousel::before {
    content: "";
    z-index: 2;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}

.custCarousel>.carouselContent {
    z-index: 3;
    position: absolute;
    top: 55%;
    right: 0;
    left: 8%;
    text-align: left;
}

.custCarousel>.carouselContent>h1 {
    font-weight: bold;
    font-size: 95px;
    font-family: serif;
    font-style: italic;
    color: white;
    margin-bottom: 20px;
}

.custCarousel>.carouselContent>h2 {
    font-weight: bold;
    font-size: 45px;
    color: #227D51;
    letter-spacing: 13.5px;
}

.custCarousel>.carouselContent>h3 {
    font-weight: bold;
    font-size: 35px;
    color: white;
    letter-spacing: 5px;
}

.custCarousel>.carouselContent>.custBtn:hover {
    scale: 1.13;
}

.custCarousel {
    position: relative;
}

/* about */
.custAbout>.caRow1 {
    margin-bottom: 120px;
}

.custAbout>.custBtn {
    margin: 0 auto;
}

.custAbout>.caRow1>.col {
    margin-bottom: 15px;
}

.custAbout>.caRow1>.col>.caImgBlock1 {
    position: relative;
    text-align: center;
}

.custAbout>.caRow1>.col>.caImgBlock1>img {
    border-radius: 30px;
    margin-top: 20px;
}

.custAbout>.caRow1>.col>.caImgBlock1>.row {
    position: absolute;
    margin: 0 auto;
    padding: 8px 8px 8px 8px;
    max-width: 80%;
    bottom: -50px;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.custAbout>.caRow1>.col>.caImgBlock1>.row>.col>svg {
    color: white;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    background-color: #227D51;
}

.custAbout>.caRow1>.col>.caImgBlock1>.row>.col>p {
    padding-top: 8px;
    margin: 0 auto;
}

.custAbout>.caRow2>.col1>.caImgBlock2 {
    position: relative;
}

.custAbout>.caRow2>.col1>.caImgBlock2>img {
    position: absolute;
    top: 65px;
    right: 0;
    left: 100px;
    border-radius: 30px;
    z-index: 2;
}

.custAbout>.caRow2>.col1>.caImgBlock2::after {
    content: "";
    width: 300px;
    height: 300px;
    border-radius: 30px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #227D51;
    position: absolute;
}

.custAbout>.caRow2>.col2>.row {
    margin-bottom: 50px;
}

.custAbout>.caRow2>.col2>.row>.col-4>h2 {
    color: #227D51;
}

.custAbout>.caRow2>.col2>.row>.col-4>svg {
    color: white;
    padding: 28px 28px 28px 28px;
    border-radius: 10px;
    background-color: #227D51;
}

/* product */
.custProduct>.prRow1>.col2 {
    align-self: flex-end;
    text-align: right;
}

.custProduct>.prRow1>.col2>a>svg {
    color: white;
    padding: 15px;
    border-radius: 50px;
    background-color: #227D51;
}

div.prCard {
    border: 0px;
    border-radius: 30px;
}

div.prCard>img {
    height: 100%;
    border-radius: 30px;
}

div.prCardContent {
    color: white;
    background-color: #227D51;
    padding: 15px;
    align-self: flex-end;
    border-radius: 30px;
}

div.prCardContent>a {
    height: 50px;
    width: 50px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    background-color: #B5495B;
}

/* news */
.custNews>.row>.col-4>img {
    border-radius: 30px;
}

.custNews>.row>.col-8 {
    align-self: center;
}