.Btn {
    font-weight: bold;
    font-size: 25px;
    color: white;
    letter-spacing: 3px;
    background-color: rgb(34, 125, 81);
    border-radius: 50px;
    padding: 12px 15px 12px 15px;
}

.BtnLink {
    font-weight: bold;
    font-size: 25px;
    color: rgb(34, 125, 81);
    letter-spacing: 3px;
    text-decoration: none;
}

.Navbar {}

.NavTog {
    width: 56px;
    height: 56px;
    background-color: white;
    border: 0;
    border-radius: 50px;
}

.Banner::before {
    content: "";
    z-index: 2;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(34, 125, 81, 0.35);
}

.Banner {
    position: relative;
    background-image: url("https://img.onl/D6nFUF");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.BannerCont {
    position: absolute;
    z-index: 3;
    top: 40%;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.BannerCont>div h1 {
    font-size: 96px;
    font-weight: bold;
    letter-spacing: 15px;
    color: white;
    margin-bottom: 30px;
}

.BannerCont>div h2 {
    font-weight: bold;
    letter-spacing: 15px;
    line-height: 150%;
    color: white;
    margin-bottom: 80px;
}

.BanImg1 {
    position: relative;
    top: 0;
    transition: top ease 0.8s;
    width: 624px;
}

.BanImg1:hover {
    top: 15px;
}

.BanImg2 {
    position: absolute;
    top: 45%;
    bottom: 0;
    right: 0;
    left: 48.5%;
}

.Scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: rgb(34, 125, 81);
    font-weight: bold;
    color: white;
    top: 20%;
    bottom: 0;
    right: 0;
    left: 46%;
    font-size: larger;
    letter-spacing: 4px;
    writing-mode: vertical-rl;
}

.About {
    margin-top: 220px;
    margin-bottom: 200px;
    text-align: center;
}

.About>div h1 {
    font-size: 96px;
    font-weight: bold;
    letter-spacing: 15px;
    color: rgb(34, 125, 81);
    margin-bottom: 40px;
}

.About>div h3 {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 8px;
    color: rgb(34, 125, 81);
    margin-top: 40px;
}

.AboText1 {
    font-size: 32px;
    text-align: left;
}

.AboText2 {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

.AboImg1 {
    position: relative;
    background-image: url("https://img.onl/XMWa8N");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.AboImg2-1 {
    position: absolute;
    z-index: 2;
    top: 30%;
}

.Product>div h1 {
    font-size: 96px;
    font-weight: bold;
    letter-spacing: 15px;
    color: rgb(34, 125, 81);
}

.ProdText1 {
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}

.AppleAD {
    position: relative;
    background-image: url("https://img.onl/xOazl");
    height: 864px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ADCont {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.ADCont>div h1 {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 8px;
    color: white;
}

.ADCont>div p {
    color: white;
    font-size: 30px;
    text-align: left;
}

.ADCont>div button {
    font-weight: bold;
    font-size: 25px;
    color: #B81A18;
    letter-spacing: 3px;
    background-color: white;
    border-radius: 50px;
    padding: 12px 15px 12px 15px;
}

.News {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.NewsCont {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 2;
}

.NewsCont>a>svg {
    padding: 15px;
    width: 64px;
    height: 64px;
    background-color: rgb(34, 125, 81);
    border: 0;
    border-radius: 50px;
    color: white;
}

#carouselNews>div img {
    opacity: 0.6;
}

.carouselNewsCapt {
    position: absolute;
    top: 55%;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 2;
}

.carouselNewsCapt>div h3 {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 8px;
    color: rgb(34, 125, 81);
}

.carouselNewsCapt>div hr {
    opacity: 100;
    width: 100%;
    height: 2.5px;
    color: rgb(34, 125, 81);
    background-color: rgb(34, 125, 81);
}

.carouselNewsCapt>div p {
    color: black;
    font-size: 30px;
    text-align: left;
}

.carouselNewsCapt>div button {
    font-weight: bold;
    font-size: 25px;
    color: white;
    letter-spacing: 3px;
    background-color: rgb(34, 125, 81);
    border-radius: 50px;
    padding: 12px 15px 12px 15px;
}

.Footer {
    background-image: url("https://img.onl/Exvl8k");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}